@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');



:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-darkcyan: hsl(179, 100%, 13%);

    /* (paragraphs) */
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    /*(background, headings, buttons) */
    --Very-light-gray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--Very-light-gray);
}

section {
    display: grid;
    max-width: 900px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

@media (max-width:915px) {
    section {
        grid-template-columns: 1fr;
        margin: 1em 1em;
    }
}

.card {
    background-color: green;
    padding: 2.6em 3.4em 2.6em 2.6em;
}

.card img {
    display: block;
    margin-bottom: 2rem;
}

.card h1 {
    color: var(--Very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.card p {
    color: var(--Transparent-white);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.9em;
    margin-bottom: 6em;
    line-height: 1.8;
}

.card.orange {
    background-color: var(--Bright-orange);
}

.card.cyan {
    background-color: var(--Dark-cyan);
}

.card.darkcyan {
    background-color: var(--Very-darkcyan);
}


.card.orange button {
    color: var(--Bright-orange);
}

.card.cyan button {
    color: var(--Dark-cyan);
}

.card.darkcyan button {
    color: var(--Very-darkcyan);
}


.card button {
    font-family: 'Lexend Deca', sans-serif;
    text-transform: capitalize;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

footer {
    font-family: system-ui;
    align-self: center;
    margin: 1rem;
    text-align: center;
    color: rgb(122, 122, 122);
    font-size: 0.8rem;
    font-weight: 600;
}

footer a {
    color: rgb(0, 132, 255);
    text-decoration: none;
}